
openapi: 3.0.0
servers:
  
  - description: 'dev'
    url: https://vpc.speakin.mobi
  
info:
  description: api document
  version: /cloudapi/v1beta
  title: 声纹云api
  contact:
    email: xiachengjia@speakin.mobi
  license:
    name: Mit
    url: 'https://opensource.org/licenses/MIT'

tags:
  - name: voiceprint
  
  - name: storage
  

paths:
  '/cloudapi/v1beta/voiceprint/query':
    post:
      operationId: query
      description: '声纹查询'
      tags:
        - voiceprint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceprintQueryRequest'
      responses:
        '200':
          description: '响应参数'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespVoiceprintQueryResponse'
  
  '/cloudapi/v1beta/voiceprint/register':
    post:
      operationId: register
      description: '声纹注册'
      tags:
        - voiceprint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceprintRegisterRequest'
      responses:
        '200':
          description: '响应参数'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespVoiceprintRegisterResponse'
  
  '/cloudapi/v1beta/voiceprint/verify':
    post:
      operationId: verify
      description: '声纹验证'
      tags:
        - voiceprint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceprintVerifyRequest'
      responses:
        '200':
          description: '响应参数'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespVoiceprintVerifyResponse'
  
  '/cloudapi/v1beta/voiceprint/verify1ton':
    post:
      operationId: verify1ton
      description: '声纹验证'
      tags:
        - voiceprint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Voiceprint1tonVerifyRequest'
      responses:
        '200':
          description: '响应参数'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespVoiceprint1tonVerifyResponse'
  
  '/cloudapi/v1beta/voiceprint/verifytopn':
    post:
      operationId: verifytopn
      description: '声纹验证'
      tags:
        - voiceprint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceprinttopnVerifyRequest'
      responses:
        '200':
          description: '响应参数'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespVoiceprinttopnVerifyResponse'
  
  '/cloudapi/v1beta/voiceprint/delete':
    post:
      operationId: delete
      description: '声纹查询'
      tags:
        - voiceprint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceprintDeleteRequest'
      responses:
        '200':
          description: '响应参数'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespVoiceprintDeleteResponse'
  
  '/cloudapi/v1beta/voiceprint/threshold':
    post:
      operationId: threshold
      description: '查询阈值'
      tags:
        - voiceprint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceprintThresholdRequest'
      responses:
        '200':
          description: '响应参数'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespVoiceprintThresholdResponse'
  
  '/cloudapi/v1beta/voiceprint/vadcheck':
    post:
      operationId: vadcheck
      description: 'VAD检测'
      tags:
        - voiceprint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceprintVadcheckRequest'
      responses:
        '200':
          description: '响应参数'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespVoiceprintVadcheckResponse'
  
  
  '/cloudapi/v1beta/storage/upload':
    post:
      operationId: upload
      description: '上传文件'
      tags:
        - storage
      parameters:
        - name: bucket
          in: query
          required: true
          schema:
            type: string
            example: ''
      
        - name: type
          in: query
          required: true
          schema:
            type: string
            example: 'wav'
      
        - name: durationMS
          in: query
          schema:
            type: integer
            example: 0
            format: int64
      
        - name: timestamp
          in: query
          required: true
          schema:
            type: integer
            example: 123
            format: int64
      
      
      responses:
        '200':
          description: '响应参数'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallUploadResponse'
      requestBody:
        description: '上传文件'
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
          multipart/form-data:
            schema:
              properties:
                file:
                  type: string
                  format: binary
  
  
  '/cloudapi/v1beta/storage/download':
    get:
      operationId: download
      description: '下载文件'
      tags:
        - storage
      parameters:
        - name: bucket
          in: query
          required: true
          schema:
            type: string
            example: ''
        
        - name: key
          in: query
          required: true
          schema:
            type: string
            example: '123'
        
      
      responses:
        '200':
          description: '二进制文件'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                
  
  
components:
  schemas:
    CallUploadResponse:
      type: object
      properties:
        hasError:
          type: boolean
          example: false
      
        errorId:
          type: string
          example: ''
      
        errorDesc:
          type: string
          example: ''
      
        data:
          $ref: '#/components/schemas/UploadResponse'
      
      xml: 
        name: CallUploadResponse
    
    RespVoiceprint1tonVerifyResponse:
      type: object
      properties:
        hasError:
          type: boolean
          example: false
      
        errorId:
          type: string
          example: ''
      
        errorDesc:
          type: string
          example: ''
      
        data:
          $ref: '#/components/schemas/Voiceprint1tonVerifyResponse'
      
      xml: 
        name: RespVoiceprint1tonVerifyResponse
    
    RespVoiceprintDeleteResponse:
      type: object
      properties:
        hasError:
          type: boolean
          example: false
      
        errorId:
          type: string
          example: ''
      
        errorDesc:
          type: string
          example: ''
      
        data:
          $ref: '#/components/schemas/VoiceprintDeleteResponse'
      
      xml: 
        name: RespVoiceprintDeleteResponse
    
    RespVoiceprintQueryResponse:
      type: object
      properties:
        hasError:
          type: boolean
          example: false
      
        errorId:
          type: string
          example: ''
      
        errorDesc:
          type: string
          example: ''
      
        data:
          $ref: '#/components/schemas/VoiceprintQueryResponse'
      
      xml: 
        name: RespVoiceprintQueryResponse
    
    RespVoiceprintRegisterResponse:
      type: object
      properties:
        hasError:
          type: boolean
          example: false
      
        errorId:
          type: string
          example: ''
      
        errorDesc:
          type: string
          example: ''
      
        data:
          $ref: '#/components/schemas/VoiceprintRegisterResponse'
      
      xml: 
        name: RespVoiceprintRegisterResponse
    
    RespVoiceprintThresholdResponse:
      type: object
      properties:
        hasError:
          type: boolean
          example: false
      
        errorId:
          type: string
          example: ''
      
        errorDesc:
          type: string
          example: ''
      
        data:
          $ref: '#/components/schemas/VoiceprintThresholdResponse'
      
      xml: 
        name: RespVoiceprintThresholdResponse
    
    RespVoiceprintVadcheckResponse:
      type: object
      properties:
        hasError:
          type: boolean
          example: false
      
        errorId:
          type: string
          example: ''
      
        errorDesc:
          type: string
          example: ''
      
        data:
          $ref: '#/components/schemas/VoiceprintVadcheckResponse'
      
      xml: 
        name: RespVoiceprintVadcheckResponse
    
    RespVoiceprintVerifyResponse:
      type: object
      properties:
        hasError:
          type: boolean
          example: false
      
        errorId:
          type: string
          example: ''
      
        errorDesc:
          type: string
          example: ''
      
        data:
          $ref: '#/components/schemas/VoiceprintVerifyResponse'
      
      xml: 
        name: RespVoiceprintVerifyResponse
    
    RespVoiceprinttopnVerifyResponse:
      type: object
      properties:
        hasError:
          type: boolean
          example: false
      
        errorId:
          type: string
          example: ''
      
        errorDesc:
          type: string
          example: ''
      
        data:
          $ref: '#/components/schemas/VoiceprinttopnVerifyResponse'
      
      xml: 
        name: RespVoiceprinttopnVerifyResponse
    
    UnionIDScore:
      type: object
      properties:
        unionID:
          type: string
          example: '123'
          description: "union ID"
          
      
        score:
          type: number
          example: 0.5
          format: double
          description: "得分"
          
      
      xml: 
        name: UnionIDScore
    
    UploadResponse:
      type: object
      properties:
        key:
          type: string
          example: '123'
          description: "文件key"
          
      
      xml: 
        name: UploadResponse
    
    Voiceprint1tonVerifyRequest:
      type: object
      required:
        - appName
        - unionIDs
        - url
        - samplingRate
        - timestamp
      
      properties:
        appName:
          type: string
          example: 'welab'
          description: "应用名字"
          
      
        unionIDs:
          type: array
          example: ["union_id2","union_id2"]
          items: 
            type: string
            example: 'union_id2'
          description: "union IDs"
          
      
        url:
          type: string
          example: '123456'
          description: "文件url"
          
      
        samplingRate:
          type: string
          example: ''
          description: "sampling rate"
          
      
        timestamp:
          type: integer
          example: 12345
          format: int64
          description: "时间戳"
          
      
      xml: 
        name: Voiceprint1tonVerifyRequest
    
    Voiceprint1tonVerifyResponse:
      type: object
      properties:
        unionID:
          type: string
          example: '123'
          description: "union ID"
          
      
        score:
          type: number
          example: 0.5
          format: double
          description: "得分"
          
      
      xml: 
        name: Voiceprint1tonVerifyResponse
    
    VoiceprintDeleteRequest:
      type: object
      required:
        - appName
        - unionID
        - timestamp
      
      properties:
        appName:
          type: string
          example: ''
          description: "应用名字"
          
      
        unionID:
          type: string
          example: ''
          description: "union ID"
          
      
        timestamp:
          type: integer
          example: 123456
          format: int64
          description: "时间戳（以秒为单位）"
          
      
      xml: 
        name: VoiceprintDeleteRequest
    
    VoiceprintDeleteResponse:
      
      xml: 
        name: VoiceprintDeleteResponse
    
    VoiceprintQueryRequest:
      type: object
      required:
        - appName
        - unionID
        - timestamp
      
      properties:
        appName:
          type: string
          example: ''
          description: "应用名字"
          
      
        unionID:
          type: string
          example: ''
          description: "union ID"
          
      
        timestamp:
          type: integer
          example: 123456
          format: int64
          description: "时间戳（以秒为单位）"
          
      
      xml: 
        name: VoiceprintQueryRequest
    
    VoiceprintQueryResponse:
      type: object
      properties:
        isRegister:
          type: boolean
          example: false
          description: "是否注册"
          
      
      xml: 
        name: VoiceprintQueryResponse
    
    VoiceprintRegisterRequest:
      type: object
      required:
        - appName
        - unionID
        - samplingRate
        - timestamp
      
      properties:
        appName:
          type: string
          example: ''
          description: "应用名字"
          
      
        replace:
          type: boolean
          example: false
          description: "是否替换"
          
      
        unionID:
          type: string
          example: ''
          description: "union ID"
          
      
        urls:
          type: array
          example: ["123","45","666"]
          items: 
            type: string
            example: '123'
          description: "文件url数组"
          
      
        samplingRate:
          type: string
          example: '8k'
          description: "sampling rate"
          
      
        timestamp:
          type: integer
          example: 123456
          format: int64
          description: "时间戳"
          
      
      xml: 
        name: VoiceprintRegisterRequest
    
    VoiceprintRegisterResponse:
      
      xml: 
        name: VoiceprintRegisterResponse
    
    VoiceprintThresholdRequest:
      type: object
      required:
        - appName
        - timestamp
      
      properties:
        appName:
          type: string
          example: ''
          description: "应用名字"
          
      
        timestamp:
          type: integer
          example: 123456
          format: int64
          description: "时间戳（以秒为单位）"
          
      
      xml: 
        name: VoiceprintThresholdRequest
    
    VoiceprintThresholdResponse:
      type: object
      properties:
        threshold:
          type: number
          example: 0.38
          format: double
          description: "阈值"
          
      
      xml: 
        name: VoiceprintThresholdResponse
    
    VoiceprintVadcheckRequest:
      type: object
      required:
        - appName
        - url
        - samplingRate
        - duration
        - timestamp
      
      properties:
        appName:
          type: string
          example: ''
          description: "应用名字"
          
      
        url:
          type: string
          example: ''
          description: "文件url"
          
      
        samplingRate:
          type: string
          example: ''
          description: "sampling rate"
          
      
        duration:
          type: number
          example: 0
          format: double
          description: "时长(以秒为单位)"
          
      
        timestamp:
          type: integer
          example: 123456
          format: int64
          description: "时间戳（以秒为单位）"
          
      
      xml: 
        name: VoiceprintVadcheckRequest
    
    VoiceprintVadcheckResponse:
      type: object
      properties:
        code:
          type: string
          example: ''
          description: "vad check code"
          
      
        status:
          type: string
          example: ''
          description: "vad check status"
          
      
      xml: 
        name: VoiceprintVadcheckResponse
    
    VoiceprintVerifyRequest:
      type: object
      required:
        - appName
        - unionID
        - url
        - samplingRate
        - timestamp
      
      properties:
        appName:
          type: string
          example: 'welab'
          description: "应用名字"
          
      
        unionID:
          type: string
          example: 'use_one'
          description: "唯一ID"
          
      
        url:
          type: string
          example: '123456'
          description: "文件url"
          
      
        samplingRate:
          type: string
          example: ''
          description: "sampling rate"
          
      
        timestamp:
          type: integer
          example: 12345
          format: int64
          description: "时间戳"
          
      
      xml: 
        name: VoiceprintVerifyRequest
    
    VoiceprintVerifyResponse:
      type: object
      properties:
        score:
          type: number
          example: 0.5
          format: double
          description: "声纹得分"
          
      
      xml: 
        name: VoiceprintVerifyResponse
    
    VoiceprinttopnVerifyRequest:
      type: object
      required:
        - appName
        - url
        - samplingRate
        - topn
        - timestamp
      
      properties:
        appName:
          type: string
          example: 'test'
          description: "应用名字"
          
      
        url:
          type: string
          example: '123456'
          description: "文件url"
          
      
        samplingRate:
          type: string
          example: ''
          description: "sampling rate"
          
      
        topn:
          type: integer
          example: 10
          format: int64
          description: "top n"
          
      
        timestamp:
          type: integer
          example: 12345
          format: int64
          description: "时间戳"
          
      
      xml: 
        name: VoiceprinttopnVerifyRequest
    
    VoiceprinttopnVerifyResponse:
      type: object
      properties:
        scores:
          type: array
          example: [{"unionID":"123","score":0.5}]
          items: 
            $ref: '#/components/schemas/UnionIDScore'
          description: "topn排序"
          
      
      xml: 
        name: VoiceprinttopnVerifyResponse
    
